# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/

# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# IMPORTANT (fix your GitHub error)
Pods/

# Build outputs
*.ipa
*.app